/* style form upload-file.css  */

.inline > .input-group-addon{
  padding: 5px;
}
.pa-3{
  padding: 3px !important;
}
.purple{
  background-color: #57386E;
}

.arbi-add-btn {
  background: #588B8B;
  cursor: pointer;
}

.uploads .switcher {
  display: flex;
  justify-content: center;
  padding: 5px 10px !important;
}

.pa-3 > i{
  color:#fff;
}
.search > i{
  color: #757575;
}
.purple:hover {
  background-color: #57386E;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.verde{
  background-color: #588B8B;
}
.verde:hover{
  background-color: #588B8B;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.mdl-card-folder {
  display: inline-block;
  max-width: calc(20% - 20px);
  margin: 10px 10px 0 10px;
  margin-bottom: 10px !important;
}

.mdl-card {
  width: 100%;
  /*height: 100%;*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
  background: #fff;
}
.mdl-card-folder .mdl-card__title {
  padding: 5px 15px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.mdl-card-folder .imgDiv {
  position: relative;
  height: 100%;
}

.mdl-card-folder .imgDiv img {
    padding: 10px;
    max-width: 100%;
    width: 100%;
}

.mdl-card-folder .mdl-card__title.cardName {
  display: inline;
}

.mdl-card-folder.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emptyFoldersDiv {
  width: 100%;
  text-align: center;
  /*padding-right: 40px;*/
  padding: 100px 0;
  color: #b5b5b5;
  font-size: 18px;
}

.emptyFoldersDiv .mdl-card-folder {
  font-weight: 700;
  color: #57386e;
}

.emptyFoldersDiv .purple-btn {
  padding: 10px 30px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.emptyFoldersDiv .purple-btn:hover {
  color: #fff;
}

.deleteLink {
  cursor: pointer;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}
.inline > h2{
  border:none;
}
#folder {
  padding-left: 5px;
}

#folder>.mdi-folder , #folder>.mdi-create_new_folder{
  color: #57386E;
}
#folder>.mdl-card-folder h2 {
  font-size: 13px;
  color: #57386E;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: none;
  display: inline-block;
  margin: 0;
}

.folderio{
  text-decoration: none;
  border: 0 !important;
  float: right;
  margin-top: 3px !important; 
}

.empty{
  padding: 150px 10px;
}
.empty p{
  text-decoration: underline;
}
#folder > .mdl-card> .inline >i{
  color: #57386E;
}
#folder > .mdl-card__title > h2{
  color:red
}
button.search{
  background: #fff;
  border:none;
}
button.search:hover {
  background: #fff;
}

.pagination .page-link {
  background: #57386e;
}

.pagination .page-link a {
  color: #fff;
  cursor: pointer;
}

.save-btn.test {
  float: right;
  border-radius: 25px;
  padding: 10px 30px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

.save-btn.test i {
  margin-right: 10px;
}

.model-list {
  padding-left: 5px;
}

/*****PAGINATION*****/

.paginationRow {
  margin-top: 30px;
}

.pagination .page-item .page-link {
  background: #57386E;
  border: none;
  margin-top: 1px;
  color: #fff;
  cursor: pointer;
  margin-right: 1px;
  margin-left: 0;
}

.pagination .page-item.active .page-link {
  background: #fff;
  color: #57386e;
}


/***** TEST AddFolderBtn *****/

.testAddFolderBtn button {
  background: #fff;
  padding: 6px 6px 6px 15px;
  padding-bottom: 5px;
  border: 1px solid rgba(0,0,0,.15);
  border-right: none;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;  
}

.testAddFolderBtn input {
  border-left-width: 0px;
}

.testAddFolderBtn .form-control:focus {
  border-color: rgba(0, 0, 0, .14);
}

.testAddFolderBtn img {
  width: 25px;
  height: auto;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=60);

  /* Netscape */
  -moz-opacity: 0.6;

  /* Safari 1.x */
  -khtml-opacity: 0.6;

  /* Good browsers */
  opacity: 0.6;
}






