@font-face {
  font-family: "Material Icons";
  src:url('fonts/Material-Icons-new.css');
}

@font-face {
  font-family: "material icons";
  src:url('fonts/material-icons.css');
}


@font-face {
  font-family: "font awesome";
  src:url('fonts/font-awesome/css/font-awesome.css');
}

.left-menu{
  background-color: #38386E;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height:100%;
  z-index: 1100;
}
.left-menu > .navigation > a.is-active{
  background-color: #57386E;
}
.title1{
  padding: 0 15px !important;
  line-height: 45px !important; /*<-conflict*/
}
.title1 i{
  font-size: 52px;
  color: #FFFFFF;
}
.title1 img{
  width: 70px;
  height: 70px;
  margin: 10px 0px;
}
nav.navigation{
  box-shadow: none;
  background-color: transparent !important;
}
.mdi-logo_nuevo:before {
  content: "\e103";
}
.navigation-link
{
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
}
.navigation-link:hover{
  text-decoration: none;
  background-color: #57386E;
}
nav.navigation .navigation-link.active{
  text-decoration: none;
  background-color: #57386E;
}
.navigation-link i
{
  font-size: 24px;
  color: #FFFFFF;
}
.navigation-link p
{
  margin: 0;
  color: #FFFFFF;
  font-size: 10px;
  background: transparent;
}
.navigation-link a > p
{
  text-transform: uppercase;
}
.mdi-cloud_upload:before {
  content: "\e9d5";
}
.mdi-grid_on:before{
  content: "\eaa9";
}
.mdi-group_add:before {
  content: "\eaab";
}
.mdi-person:before {
  content: "\eb86";
}
.fa-power-off:before {
  content: "\f011";
}
.mdl-navigation__link.active {
  background-color: #57386E;
}
@media screen and (max-width: 1024px) {
 .left-menu {
    display: none;
  }
}
