#reg-user > .modal-content{
  padding: 16px;
  border-top: 8px solid #57386E;
}
#reg-user > .modal-content > .modal-header {
  border-bottom: 5px solid #588B8B;
  padding: 5px 0;
  margin-bottom: 30px;
  margin-top: 20px;
}
#reg-user > .modal-content > .modal-header > h2{
  margin: 0;
  font-size: 18px;
  line-height: 1;
  color: #57386E;
  text-transform: uppercase;
}
#reg-user > .modal-content > .modal-body{
  padding: 0;
}
#reg-user > .modal-content > .modal-body > .form-group > .col-sm-12 > label {
  color: rgba(0,0,0,.54);
  text-transform: uppercase;
}

#reg-user > .modal-content > .modal-footer > .save-btn{
  min-width: 160px;
  border-radius: 25px;
  color: #FFFFFF;
  height: 35px;
  font-size: 12px;
  background-color: #588B8B !important
}
#reg-user > .modal-content > .modal-footer > .cancel-btn{
  min-width: 160px;
  border-radius: 25px;
  color: #FFFFFF;
  height: 35px;
  font-size: 12px;
  background-color: #57386E !important;
  border: none;
}
#reg-user > .modal-content > .modal-footer > .save-btn:hover , .modal-content > .modal-footer > .cancel-btn:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  background-color: rgba(158,158,158,.2);
  border-color: transparent;
}
#reg-user > .modal-content > .modal-footer > .save-btn:focus , .modal-content > .modal-footer > .cancel-btn:focus {
  outline: none;
}
#reg-user > .modal-content > .modal-footer {
  border: none;
}