/* style form upload-file.css  */

.nav-item{
  text-align: center;
}
.nav-item a{
  padding: 15px;
  background-color: #57386E;
  color: #FFFFFF;
  width: 100%;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}
.uploads{
  max-width: 100%;
  /*margin: 15px auto;*/
  padding: 15px 0;
}

.uploads .input-group {
  margin-bottom: 0;
}
.nav-tabs{
  border-bottom: none;
}
.nav-list > .col{
  padding: 0 !important;
}
.nav-list .nav-link{
  border-radius: 0 !important;
  border-bottom: 5px solid transparent !important;
}
.nav-tabs .nav-link{
  border:none;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover{
  background-color: #588B8B;
  color: #FFFFFF;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border:none;
}  

.nav-item.col .nav-link {
  height: 40px;
  padding: 8px;
}

.nav-item .col > a,.nav-item .col > a:hover{
  border-bottom: 5px solid transparent;
}
.nav-item > a.active{
  /*border-bottom:6px solid #FF386E !important;*/
  border-bottom: none;
}
.contenido-upload{
  background-color: #FFFFFF;
  padding: 40px;
  color: #57386E;
}
.width-600 {
  max-width: 600px;
  margin: auto;
  border: 2px dashed #CECECE;
  padding: 40px;
}
.mydropzone p{
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 0 16px;
  text-align: center;
}
.image-upload i{
  font-size: 100px;
  color: #57386E;
  text-align: center;
  display: block;
}
.file-btn{
  border: 0;
  outline:0;
  background-color: #57386E;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 5px 16px;
  display: flex;
  margin: 0 auto;
  cursor: pointer !important;
}
.file-btn:focus{
  outline:0;
}
.message1{
  text-align: center;
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.message1 > div{
  min-height: 80px;
}

.message1:after{
  content: "";
  display: block;
  clear: both;
}

.message1 > div > p{
  word-break: break-all;
  margin-bottom: 3px;
}

.message1 > div > p:nth-child(2){
  color: #666;
  font-size: 11px;
}

.message1 > div > a{
  display: block;
  position: absolute;
  top: -7px;
  right: -6px;
  font-size: 10px;
  background: #57386d;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding-top: 2px;
  color: #fff !important;
  cursor: pointer;
}

.message1 > div{
  position: relative;
  padding: 1px;
  width: 17%;
  float: left;
  margin: 1%;
  background: #e8e9ed;
}

.card{
  /*max-width: 1165px;*/
  margin: 15px auto;
  padding: 15px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
}
.label-form{
  font-weight:700;
}
.group{
  display: flex;
}
.input-dimension{
  display: inline-block;
  width: 32%;
}
.form-btn{
  background-color: #588B8B !important;
  margin-right: 5px;
  min-width: 160px;
  border-radius: 25px;
  color: #FFFFFF;
  height: 35px;
  font-size: 12px;
  outline: 0;
  border: none;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
}
.form-btn:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
}
.btn-reset{
  background-color: #57386E !important;
  min-width: 160px;
  border-radius: 25px;
  color: #FFFFFF;
  height: 35px;
  font-size: 12px;
  outline: 0;
  border: none;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
}
.btn-reset:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
}
.card label{
  text-align: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 710px){
  .nav-link{
    padding: 10px;
  }
}
@media (max-width: 735px){
  .hidden-sm{
    display: none;
  }
  .nav-list > .nav-item > a.nav-link{
    padding: 4px;
  }
}

.fileInputForm {
  margin-top: -33px;
  padding: 0 33%;
  cursor: pointer;
}

.fileInputForm div input{
  cursor: pointer;
}


.fileInputForm div input[type=file]{
  font-size: 0;
  height: 32px;
}