.telemetryRow {
  margin-left: -20px;
  margin-right: -10px;
}

#modalUpgradePlan .pricing-plan {
  margin: 15px;
  max-width: 210px;
}

#modalUpgradePlan .pricing-plan ul li {
  font-size: 14px;
}

#modalUpgradePlan .pricing-plan span {
  font-size: 32px;
}

#modalUpgradePlan .modal-content {
  padding: 15px;
  border-top: 6px solid #57386e;
}

#modalUpgradePlan .modal-header {
  justify-content: center;
  padding: 15px;
  border-bottom: none;
}

#modalUpgradePlan .modal-title {
  font-size: 16px;
}

#modalUpgradePlan .checkout .modal-header {
  padding: 15px 17%;
}

#modalUpgradePlan .checkout .modal-header p {
  font-size: 12px;
}

#modalUpgradePlan .checkout .modal-header .lineIcon {
  margin-top: -30px;
}

#modalUpgradePlan .checkout .modal-body h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
}

#modalUpgradePlan .checkoutTitle {
  border-bottom: 1px solid #57386e;
  padding-bottom: 15px;
}

#modalUpgradePlan .checkout .modal-body label{
  display: block;
}

#modalUpgradePlan .checkout .modal-body span{
  float: right;
}

#modalUpgradePlan .checkoutTotal {
  color: #57386e;
  font-weight: 700;
  padding-top: 20px;
  border-top: 1px solid #57386e;
}

#modalUpgradePlan .checkoutFinal {
  padding: 10% 15%;
}

#modalUpgradePlan .checkoutFinal a {
  color: grey;
  text-decoration: underline;
  /*text-decoration-style: dotted;*/
}

#modalUpgradePlan .checkoutFinal a:hover {
  color: black;
}

#modalUpgradePlan .checkoutFinal button {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}

#modalUpgradePlan .checkoutSuccess {
  padding: 15px 10% 35px 10%;
}

#modalUpgradePlan .other-plan{
  float: none !important;
  display: table;
  margin: 0 auto;
  color: #9e9e9e;
  cursor: pointer;
}

#modalUpgradePlan .modal-dialog.tall .other-plan{
  display: block;
  margin-top: 20px;
}

#modalUpgradePlan .modal-dialog.tall{
  width: 450px;
  margin: 0 auto;
}

#modalUpgradePlan .modal-dialog.tall button{
  padding-top: 10px !important;
}

#modalUpgradePlan .modal-dialog.tall .contactModal{
  text-align: left;
}


#modalUpgradePlan .modal-dialog.tall .contactModal label{
  width: 100%;
}

#modalUpgradePlan .modal-dialog.tall .contactModal label span.required{
  float: right;
  color: #d28900;
  font-weight: 200;
  font-size: 14px;
}

@media (min-width: 576px){
  #modalUpgradePlan .modal-dialog {
    max-width: 800px;
  }
}

#modalUpgradePlan .contactModal .modal-header {
  justify-content: flex-start;
  font-size: 18px;
  color: #57386e;
  border-bottom: 4px solid #588B8B;
  padding: 15px 0 0 0;
  margin: 15px;
}

#modalUpgradePlan .contactModal .modal-body label {
  font-weight: 700;
}

#modalUpgradePlan .contactModal .modal-body button {
  color: #FFFFFF;
  /*height: 35px;*/
  padding: 15px 40px;
  font-size: 12px;
  background-color: #588B8B !important;
  border-radius: 25px;
  border:none;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
}

#modalUpgradePlan .contactModal .modal-body button:hover{
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.card-table{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
  margin-top: 10px;
  background: #fff;
}
#table-card{
  overflow-x: auto;
}
.table>thead>tr>th {
  border-bottom: 2px solid #588B8B;
  vertical-align: middle;
  font-size: 13px;
}

.table th{
  border-top:0;
}

thead tr th {
  color: #5F4175;
}

.table>tbody>tr>td {
  vertical-align: middle;
  padding: 5px;
}
td{
  font-size:13px;
}
.button-edit{
  background: transparent;
  border-radius: 50%;
  border: none;
}
.button-edit:hover{
  background-color: rgba(158,158,158,.2);
  cursor: pointer;
}
.pa-5{
  padding: 5px;
}

.checkboxCol {
  display: flex;
}

.checkbox {
  margin: 12px 10px 10px 0;
}

.save-btn.user-button, .cancel-btn.user-button {
  color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.deleteDialog {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background: #fff;
  position: absolute;
  display: none;
  padding: 0 10px 0 10px;
}

.deleteDialog p {
  font-size: 14px;
  font-weight: 700;
}

.deleteDialog .btn {
  margin: 0 5px;
  padding: 10px 20px;
}

.mdl-card-folder{
  cursor: pointer;
}

.mdl-card-folder .dropdown-menu i{
  width: 16px;
  margin-right: 10px;
  text-align: center;
  color: #333 !important;
}
