@font-face {
  font-family: "ZonaPro";
  src: url('../../sources/landing/fonts/ZonaPro-Thin.otf');
}
@font-face {
  font-family: "ZonaPro";
  src: url('../../sources/landing/fonts/ZonaPro-Bold.otf');
  font-weight: bold;
}

#new-landing-wrapper{
  font-family: 'ZonaPro', sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  background: #fff;
  overflow: auto;
}

#new-landing-wrapper *:not(.fa) {
  font-family: 'ZonaPro', sans-serif;
}