@font-face {
  font-family: 'Material Icons';
  src:  url('iconos-nuevos/Material-icons-new.eot?xo0o95');
  src:  url('iconos-nuevos/Material-icons-new.eot?xo0o95#iefix') format('embedded-opentype'),
    url('iconos-nuevos/Material-icons-new.ttf?xo0o95') format('truetype'),
    url('iconos-nuevos/Material-icons-new.woff?xo0o95') format('woff'),
    url('iconos-nuevos/Material-icons-new.svg?xo0o95#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mdi-"], [class*=" mdi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Material Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-obj:before {
  content: "\e100";
}
.mdi-unity:before {
  content: "\e101";
}
.mdi-play-store:before {
  content: "\e102";
}
.mdi-logo_nuevo:before {
  content: "\e103";
}
