/* .purple-file-input */
.purple-file-input{
  display: block;
  width: 100%;
  height: 38px;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px;
}

.purple-file-input input{
  display: none;
}

.purple-file-input span{
  background: #57386e;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 4px 25px;
  cursor: pointer;
  display: block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  float: left;
}

.purple-file-input span:hover{
  background: #4f2d69;
}

.purple-file-input img{
  float: right;
  height: 32px;
}
/* .purple-file-input */

.purple-file-input .fileName{
  display: inline-block;
  float: left;
  margin-left: 10px;
  font-size: 11px;
  padding: 7px 0;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}