html,
body {
  font-family: "Open Sans",Verdana,Arial,Helvetica,sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 0.5px;
}

body{
  background-color: #E8E9ED;
}

h1, h2, h3 {
  overflow-y: hidden;
  font-family: "Open Sans",Verdana,Arial,Helvetica,sans-serif;
  font-weight: 800;
}

/*Navbar Styles*/
#landingNav .navbar {
  z-index: 2;
  background: transparent;
  transition: 0.8s all ease;
  padding-top: 0px;
  padding-bottom: 0px;
}

#landingNav.navbar.color{
  background: #fff;
  z-index: 3;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#landingNav.navbar.color .navbar-brand {
  padding-left: 70%; /* 40% */
  transition: 0.8s all ease;
}

#landingNav.navbar.color.nopadding .navbar-brand{
  padding-left: 0 !important;
}

#landingNav.navbar.color li a{
  color: #212153;
}

#landingNav.navbar.color img{
  filter: brightness(1);
  width: 50px;
}

#navCallButton {
  display: none;
}

#landingNav.navbar.color #navCallButton {
  display: block;
  width: 170px;
  padding: 3px 0 6px 0;
  border-width: 0px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #57386e;
  cursor: pointer;
}


#landingNav.nav-container {
  padding-left: 0px !important;
}

#landingNav .navbar-brand img {
  width: 65px;
  #filter: brightness(10);
}

#landingNav .navbar-brand img.white{
  display: inline-block;
}

#landingNav.color .navbar-brand img.white{
  display: none;
}

#landingNav .navbar-brand img:not(.white){
  display: none;
}

#landingNav.color .navbar-brand img:not(.white){
  display: inline-block;
}

#landingNav.navbar li a {
  font-size: 10px;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
  text-transform: uppercase;
  color: #fff;
}

#landingNav.navbar li a:hover {
  color: #E61F22;
  margin-bottom: -1px;
  border-bottom: 1px solid #E61F22;
}

#landingNav.navbar .nav-item a {
  background: transparent;
}

#landingNav.navbar.color .nav-item a {
  background: #fff;
}

#loginBtnDiv {
  padding: 3px 20px 6px 20px;
  background-color: #57386e;
  border: 2px solid #8A6181;
  border-radius: 25px;
}

#login-btn {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  -webkit-appearance: none;
}

#loginBtnDiv:hover {
  background-color: #63455c;
}

@media (max-width: 992px){
  #landingNav.navbar{
    background: #fff;
    z-index: 3;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  #landingNav.navbar .navbar-brand {
    padding-left: 40%;
    transition: 0.8s all ease;
  }

  #landingNav.navbar li a{
    color: #212153;
  }

  #landingNav.navbar img{
    filter: brightness(1);
    width: 50px;
  }
  #landingNav .navbar-brand {
    padding-left: 0 !important;
  }

/*  #loginBtnDiv {
    margin: 10px auto;
  }*/

  #navDivCallButton {
    display: none;
  }

  #landingNav .navbar-collapse #loginBtnDiv {
    width: 35%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
}

#landingNav .navbar-toggler span {
  color: #57386e;
  font-size: 22px;
}

#landingNav .navbar-toggler .fa-times {
  display: inline-block;
}

#landingNav .navbar-toggler .fa-bars {
  display: none;
}

#landingNav .navbar-toggler.collapsed .fa-times {
  display: none;
}

#landingNav .navbar-toggler.collapsed .fa-bars {

  display: inline-block;
}



/*Main Section Styles*/

#section-home {
  height: 100vh;
  overflow: hidden;
  padding: 10px;
}

#section-home .bg-image {
  background: url('./sources/img/home_arbio.png') no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display:block;
  position:absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

#opacity {
  position: absolute;
  opacity: 0.5;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #000;
}

#section-home .main {
  padding-left: 0px;
  padding-right: 0px;
}

#section-home .main-text {
  position: absolute;
  top: 70%;
  transform: translate(0, -50%);
  width: 100%;
  max-width: 500px;
  color: #fff;
}

#section-home .main-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 24px 0;
  line-height: 1.35;
}

#section-home .main-text p {
  color: #c3c3c3;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .main {
    position: static;
  }
  #section-home .main-text {
    width: 70%;
    left: 15%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 500px;
    color: #fff;
  }
  #desktopForm {
    display: none;
  }

  #landingNav.navbar .nav-item a{
    width: inherit;
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  #mobileTrialBtnDiv {
    display: none;
  }
}

/*Trial Form Styles*/

#section-home .form-container {
  background: #fff;
  padding: 40px 25px;
  margin-top: 40%;
}

#section-home .form-container p {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  color: #57386e;
  font-size: 14px;
  font-weight: bold;
}

#section-home .form-container .input-group {
    /*height: 50%;*/
    margin-bottom: 15px;
    width: 100%;
    border-radius: 3px;
}

#section-home .form-container .input-group .form-control {
  background: #EAE6E6;
}

#section-home .form-container .form-control {
    height: 40px;
    font-size: 0.8rem;
}

#section-home .form-container .form-control:focus {
    outline: none !important;
    border:1px solid #8D126F !important;
    box-shadow: 0 0 10px #719ECE;
}

#section-home .form-container .input-group img {
    height: 40px;
}

.trialIcon {
  background: #57386e;
  color: #fff;
  width: 15%;
  text-align: center;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: default;
}

.trialIcon:hover{
  color: #fff;
}

.trialIcon i {
  padding: 10px;
  font-size: 20px;
}

.trial-button {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #57386e;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.trial-button:hover{
  background-color: #68345d;
}

.trial-button i {
  margin-right: 10px;
}

/* Section Unity */

#unity {
  background: #fff;
  padding: 20px 0 50px 0;
  text-align: center;
}

#unity .container {
  max-width: 700px;
}

#unity h3 {
  font-size: 22px;
  line-height: 1.3;
  margin: 24px auto;
}

#unity p{
  letter-spacing: 0;
}

#logos-container {
  margin: auto;
}

#logos-container img {
  margin: 0 10px;
}

/* Section Existing */

#existing {
  background: #66265A;
  color: #fff;
}

#existing .container-fluid.tablet {
  width: 100%;
  padding: 0;
}

#existing h3 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 1.3;
}

.white-line {
  content: '';
  width: 50px;
  height: 13px;
  background-color: #FFFFFF;
  margin: 25px auto;
}

#existing .arrow-container {
  padding: 3% 25% 3% 25%;
}

#existing .arrow-div {
  margin-bottom: 50px;
}

#existing .arrow-div p {
  font-size: 16px;
  letter-spacing: 0;
}

#existing .arrow-div img {
  margin-right: 15px;
  margin-bottom: 20px;
  float: left;
  width: 30px;
  border: 2px solid black;
  border-radius: 25px;
  -webkit-filter: invert(100%);
}

#video-arbio {
  background-color: #EAE6E6;
  width: 100%;
  max-width: 830px;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: -400px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
              0 1px 10px 0 rgba(0, 0, 0, .12),
              0 2px 4px -1px rgba(0, 0, 0, .2);
}

#video-arbio button {
  position: absolute;
  margin-top: 25%;
  margin-left: 33%;
  padding: 5px 40px;
  color: #fff;
  background-color: #2E2E60;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  z-index: 12;
}

#video-arbio button img {
  margin-left: 5px;
  width: 40px;
  -webkit-filter: invert(80%);
}

#video-arbio a.go-start{
  background: transparent;
  border: 2px solid;
  color: #fff;
  border-radius: 0;
  text-shadow: 1px -1px #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  position: absolute;
  margin-top: 25%;
  margin-left: 33%;
  padding: 5px 40px;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
}

#video-arbio a.go-start:hover{
  text-decoration: none;
  background: #fff;
  color: #57386e;
  text-shadow: none;
}

#video-arbio video {
  width: 100%;
}

@media (max-width: 1200px){
  .arrow-container {
    padding: 3% !important;
  }
  #video-arbio {
    position: relative;
    margin-top: 0;
  }
}

/*Tablet Section*/

#tablet {
  background-color: #fff;
}

#tablet .container.tablet {
  width: 100%;
  padding: 0;
}

#tablet .img-container {
  padding: 120px 0 0 0;
}

#tablet .img-container img {
  max-width: 100%;
  width: 550px;
  max-height: 400px;

}

#tablet .store-container {
  /*padding: 120px 90px 0 0;
  text-align: left;*/
  text-align: center;
  margin: 0 auto;
}

#tablet .store-container p{
  margin-bottom: 15px;
}

#tablet h3 {
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#tablet p {
  margin-bottom: -20px;
  margin-top: 15px;
}

#tablet .store-btn-div button {
  color: #FFFFFF;
  padding: 0 25px;
  margin: 15px auto;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
  height: 50px;
  width: 315px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#tablet .store-btn-div button i {
  margin-right: 10px;
}

#tablet .store-btn-div button span {
  position: relative;
  bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

#play-store {
  background-color: #DC4459;
}

#apple-store {
  background-color: #588B8B;
}

#tablet .bottom-div {
  margin: 70px auto 20px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 992px) {
  #tablet .store-container {
    padding: 15px;
    text-align: center;
  }

  #tablet .bottom-div {
    margin: 40px auto 10px auto;
  }
}


/*Section Product */

#product {
  background: #fff;
  color: #fff;
  padding: 20px 0 50px 0;
  text-align: center;
}

#product .row {
  margin: 15px;
  box-shadow: 0px 5px 25px rgba(0,0,0,0.25), 0 5px 40px rgba(0,0,0,0.22);
}

#product h3 {
  font-size: 18px;
  font-weight: 400;
  max-width: 215px;
  margin: auto;
  line-height: 1.2;
}

#column-1, #column-2, #column-3 {
  padding: 30px 35px;
}

#column-1 {
  background-color: #57386e;
}

#column-2 {
  background-color: #E75168;
}

#column-3 {
  background-color: #212153;
}

/*Learn Section */

#learn {
  background-color: #fff;
  padding: 20px 0 50px 0;
  position: relative;
  text-align: center;
}

#learn .container {
  max-width: 700px;
}

#learn h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 24px;
}

#learn button {
  color: #fff;
  background: #E75168;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 25px;
  margin: 15px auto;
  cursor: pointer;
}

/* Background divider */

.background-divider {
  background-color: #E8E9ED;
  padding: 25px;
}

/* Callback Section */

#callback {
  background-color: #fff;
  padding: 20px 0 50px 0;
  position: relative;
  text-align: center;
}

#callback h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
}

.form-container, .callbackHint {
  background: #fff;
  padding: 40px 25px;
  /*margin-top: 40%;*/
  max-width: 420px;
  margin: 40px auto;
  box-shadow: 0px 5px 25px rgba(0,0,0,0.25), 0 5px 40px rgba(0,0,0,0.22);
}

.form-container p {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  color: #57386e;
  font-size: 14px;
  font-weight: bold;
}

.form-container .input-group {
    /*height: 50%;*/
    margin-bottom: 15px;
    width: 100%;
    border-radius: 3px;
}

.form-container .input-group .form-control {
  background: #EAE6E6;
}

.form-container .form-control {
    height: 45px;
    font-size: 0.8rem;
}

.form-container .form-control:focus {
    outline: none !important;
    border:1px solid #8D126F !important;
    box-shadow: 0 0 10px #719ECE;
}

.form-container .input-group img {
    height: 45px;
}

.modalCallButton {
  height: 45px;
}

.callBackModalContent {
  background: transparent;
  border: none;
}

.callBackModalBtn {
  border-radius: 0 !important;
  background: #57386e;
}

.callBackModalBtn i {
  margin-right: 10px;
}

.callbackHint {
  font-weight: 700;
  text-align: center;
  display: none;
}


/*#callback .form-container {
  max-width: 420px;
  margin: 40px auto;
  box-shadow: 0px 5px 25px rgba(0,0,0,0.25), 0 5px 40px rgba(0,0,0,0.22);
}*/

/*#callback .form-container .form-control {
  height: 45px;
}*/

/*#callback .form-container .input-group img {
  height: 45px;
}*/


/* Pricing section */

#pricing {
  background: #fff;
  padding: 20px 0 50px 0;
  position: relative;
}

#pricing h3, #FAQ h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

#content-div {
  padding-left: 5%;
  padding-right: 5%;
}

.pricing-plan {
  display: inline-block;
  margin: 15px 40px;
  position: relative;
  overflow: inherit;
  z-index: 1;
  flex-direction: column;
  vertical-align: top;
  box-sizing: border-box;
  box-shadow: 0 14px 30px rgba(88, 139, 139, 0.45), 0 5px 5px rgba(0,0,0,0.22);
  width: 100%;
  max-width: 260px;
  min-height: 100px;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  font-size: 16px;
  font-weight: 400;
}

.pricing-plan-title{
  padding: 16px;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.pricing-plan-title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.pricing-plan-title h3 {
  font-size: 18px;
  font-weight: 400 !important;
  margin-top: 24px;
  margin-bottom: 0px !important;
  padding-top: 5px;
}

.pricing-plan-title h3 span {
  font-size: 50px;
  font-weight: 700;
}
.pricing-plan-title.blue-bg h3 span {
  font-weight: 400;
}

.green-bg {
  background: #588B8B;
}

.violet-bg{
  background: #57386e;
}

.blue-bg{
  background: #39396F;
}

.pricing-plan-body ul {
  padding-left: 0;
}

.pricing-plan-body ul li {
  padding: 10px;
  border-top: 1px solid #C2BFC1;
  font-size: 16px;
  list-style: none;
  color: rgba(0, 0, 0, .54);
  text-align: center;
}

.pricing-plan button,
.pricing-plan a {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  display: block;
}

.pricing-plan a:hover{
  text-decoration: none;
}

#microplans{
  margin-top: 30px;
  text-align: center;
}

#microplans p {
  margin-bottom: 16px;
}

#microplans button {
  color: #fff;
  /*background: #E75168;*/
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 25px;
  margin: 15px auto;
  cursor: pointer;
}

@media (max-width: 992px) {
  #pricing .pricing-plan {
    margin: 15px auto;
  }
}

/* FAQ Section */

#FAQ {
  background: #fff;
  padding: 20px 0 50px 0;
  position: relative;
}

#FAQ .white-line {
  width: 180px;
  background-color: #57386e;
  margin: 45px auto;
}

/* Contact Section */

#contact {
  background: #fff;
  padding: 20px 0 50px 0;
  position: relative;
}

#contact .container {
  max-width: 850px;
}

#contact .contact-section-div {
  padding: 50px;
}

#contact h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0;
}

#contact h4 {
  /*margin-top: 24px;*/
  /*margin-bottom: 24px;*/
  font-size: 56px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -.02em;
  margin: 24px 0;
}

#contact .contact-container {
  padding: 0 50px;
}

#contact .contact-container p {
  padding: 15px 0;
}

#contact .contact-container p i {
  margin-right: 5px;
}

#contact .contact-input-group {
  overflow-y: hidden;
  #height: 80px;
  padding: 0;
}

#contact .contact-input-group .textfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
  padding-bottom: 0;
}

#contact .contact-input-group .textfield input,
#contact .contact-input-group .textfield textarea{
  border: none;
  border-bottom: 1.5px solid #757575;
  display: block;
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
}

#contact .contact-input-group .textfield input:focus,
#contact .contact-input-group .textfield textarea:focus{
  outline: none !important;
}

#contact .contact-input-group .textfield label {
  font-weight: 700;
  color: #757575;
  font-size: 14px;
  pointer-events: none;
  display: block;
  width: 100%;
  margin-bottom: 0;
}

label span.required{
  color: red !important;
  font-weight: 200;
  float: right;
  font-size: 12px;
}

#contact label span.required{
  font-size: 11px;
}

#contact button {
  color: #fff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 25px;
  margin: 15px auto;
  cursor: pointer;
  float: right;
}

@media (max-width: 992px) {
  #contact h4 {
    font-size: 36px;
  }

  #contact .contact-container {
    padding: 0 30px;
  }

  #contact .contact-container .head {
    padding: 0;
    text-align: center;
  }

  #contact button {
    width: 100%;
  }
}

/* Footer */

#landingFooter {
  background-color: #212153;
  color: #FFFFFF;
  padding: 40px;
  font-size: 14px;
}

#landingFooter p, ul {
  margin-bottom: 0;
}

#landingFooter a {
  color: #fff;
}

#landingFooter a:hover {
  text-decoration: none;
}

#landingFooter ul {
  list-style: none;
  text-align: right;
  display: inline-block;
}

#landingFooter ul li {
  display: inline-block;
  margin: 0 15px;
}

#landingFooter .socialIcons {
  display: inline-block;
  float: right;
}

@media (max-width: 992px) {
  #landingFooter {
    padding: 15px;
    text-align: center;
  }

  #landingFooter ul {
    padding-left: 0;
  }

  #landingFooter ul li {
    margin: 5px 9px;
    font-size: 14px;
  }

  #landingFooter .socialIconsCol {
    padding-left: 5px;
    padding-right: 5px;
  }

  #landingFooter .socialIcons {
    width: 100%;
    /*text-align: center;*/
  }
}

/*Login Page*/

#login-section {
  padding: 120px 0 30px 0;
  background: #fff;
  height: 100%;
}

#login-section .login-container {
  max-width: 380px;
  border-radius: 5px;
  margin: 40px auto;
  padding: 30px 15px;
  box-shadow: 0px 5px 25px rgba(0,0,0,0.25), 0 5px 40px rgba(0,0,0,0.22);
}


#login-section .login-container p {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  color: #57386e;
  font-size: 12px;
  font-weight: bold;
}

#login-section .login-container-h {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 22px;
}

#login-container-p {
  font-size: 15px;
}

#login-section .login-container .input-group {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 3px;
}

#login-section .login-container .input-group .form-control {
  background: #EAE6E6;
}

#login-section .login-container .form-control {
    height: 40px;
    font-size: 0.8rem;
}

#login-section .login-container .form-control:focus {
    outline: none !important;
    border:1px solid #8D126F !important;
    box-shadow: 0 0 10px #719ECE;
}

#login-section .login-container .form-check-label {
  font-size: 13px;
  color: #757575;
  font-weight: bold;
}

#login-section .login-container .form-check-input {
  margin-right: 5px;
}


#login-section .login-icon{
  color: #fff;
  background: #57386e;
  height: 40px;
  width: 40px;
  padding: 9px;
  cursor: pointer;
  font-size: 21px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#login-section .no-account{
  font-weight: 400;
  font-size: 14px;
}

#login-section .no-account a{
  color: #57386e;
  text-decoration: underline;
}

#sign-in-button {
  margin: 15px auto;
  color: #fff;
  background-color: #57386e;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

#sign-in-button:hover{
  background-color: #68345d;
}

#sign-in-button i {
  margin-right: 10px;

}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.req-red{
  color: red;
  float: right;
  font-weight: 200;
  font-size: 12px;
  padding-top: 5px;
}

/* EmailConfirmed */

#EmailConfirmed{
  display: block;
  padding-top: 70px;
}

@media (max-width: 750px) {
  #EmailConfirmed .blocks{
    width: calc(100% - 30px) !important;
    display: block !important;
    margin: 0 15px !important;
    min-height: 500px !important;
  }


}

#EmailConfirmed .blocks{
  width: 700px;
  display: block;
  margin: 0 auto;
  min-height: 500px;
}

#EmailConfirmed .blocks .password{
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

#EmailConfirmed .blocks .password .form-container{
  box-shadow: none;
}

@media (max-width: 500px) {
  #EmailConfirmed .blocks .password .form-container{
    padding-left: 0;
    padding-right: 0;
  } 
}

#EmailConfirmed .blocks .password .form-container button{
  color: #fff;
  cursor: pointer;
  border-radius: 3px !important;
}

#EmailConfirmed .blocks .password .success{
  text-align: center;
}

#EmailConfirmed .blocks .password .success img{
  display: table;
  margin: 10px auto;
  width: 50px;
}

/* EmailConfirmed */


/* signUpForm */
#signupForm{
  display: block;
  padding-top: 70px;
}

#signupForm .modal-header{
  background: #ffff;
  justify-content: center;
  margin-bottom: 15px;
}

#signupForm .modal-header .text-center{
  max-width: 110px;
  text-align: center;
  margin: 0 10px;
}

#signupForm .blocks{
  width: 700px;
  display: block;
  margin: 0 auto;
  min-height: 500px;
}

#signupForm .blocks .summary{
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

#signupForm .blocks .summary .checkoutTitle{
  border-bottom: 1px solid #57386e;
  padding-bottom: 15px;
}

#signupForm .blocks .summary .checkoutTitle span{
  float: right;
}

#signupForm .blocks .summary label{
  display: block;
}

#signupForm .blocks .summary p span,
#signupForm .blocks .summary label span{
  float: right;
}

#signupForm .blocks .summary .checkoutTotal{
  border-top: 1px solid #57386e;
  padding-top: 15px;
}

#signupForm .blocks h4{
  font-weight: bold;
  font-size: 16px;
  color: #9e9e9e;
  margin-bottom: 20px;
}

#signupForm .blocks .register{
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  margin-top: 40px;
}

#signupForm .blocks .register .form-container{
  margin: 0px auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#signupForm .blocks .confirm{
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  margin-top: 40px;
  margin-bottom: 40px;
}

#signupForm .blocks .confirm > div{
  margin: 30px auto;
}
/* signUpForm */

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
