#addAccount, #searchUsers{
	border: 1px solid rgba(0,0,0,.15);
} 

#addAccount input, #searchUsers input {
	border: none;
  background: #fff;
  cursor: pointer;
}

#addAccount button {
	background: #588b8b;
	border-radius: 0;
	border: none;
	padding: 0 12px;
	cursor: pointer;
}

#addAccount button i {
	color: #fff;
}



#searchUsers span {
	background: #fff;
	border: none;
}

.card-table{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 0;
  margin-top: 10px;
  background: #fff;
}
#table-card{
  overflow-x: auto;
}
.table>thead>tr>th {
  border-bottom: 2px solid #588B8B;
  vertical-align: middle;
  font-size: 13px;
}
.table th{
  border-top:0;
  text-align: center;
}
thead tr th {
  color: #5F4175;
}
.table>tbody>tr>td {
  vertical-align: middle;
  padding: 5px;
}
td{
  font-size:13px;
  text-align: center;
}
.button-edit{
  background: transparent;
  border-radius: 50%;
  border: none;
}
.button-edit:hover{
  background-color: rgba(158,158,158,.2);
  cursor: pointer;
}
.pa-5{
  padding: 5px;
}

.checkboxCol {
  display: flex;
}

.checkbox {
  margin: 12px 10px 10px 0;
}

#superAdminAccounts .navigation-link {
	border: none;
	color: black;
}

#superAdminAccounts .navigation-link:hover {
	background: transparent;
}

#superAdminAccounts .card-table .dropdown button {
  background: #fff;
  padding: 4px 8px;
  color: black;
  font-size: 13px;
}

#superAdminAccounts .card-table .dropdown .dropdown-menu {
  font-size: 13px;
}

/*Toggler*/
.switcher {
  padding: 10px 10px 0 10px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #57386e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #588b8b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #588b8b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50% 50%;
}

/*Modal Styles*/
#superAdminAccounts #modalAddUser .modal-content {
	border-top: 5px solid #57386e;
    border-radius: 0;
    box-shadow: 1px 1px 2px 2px #57386e;
}
    
#superAdminAccounts #modalAddUser .modal-header {
	padding: 25px 0 5px 0;
	margin-left: 5px;
	border-bottom: 4px solid #588b8b;
}

#superAdminAccounts #modalAddUser .modal-title {
	color: #5F4175;
	text-transform: uppercase;
	font-size: 17px;
}
#superAdminAccounts #modalAddUser .modal-body {
	padding: 15px 5px; 
}


#superAdminAccounts #modalAddUser .modal-body label {
	font-size: 14px;
	font-weight: 700;
}

#superAdminAccounts #modalAddUser .modal-body .passwordDiv {
	display: flex;
}

#superAdminAccounts #modalAddUser .modal-body .passwordDiv label {
	background: #57386e;
	font-size: 14px;
	color: #fff;
	white-space: nowrap;
	margin-bottom: 0;
	padding: 7px 10px;
	margin-right: 10px;
    border-radius: 20px;
}
#superAdminAccounts #modalAddUser .modal-body .dropdown button{
	cursor: pointer;
}

#superAdminAccounts #modalAddUser .modal-body .dropdown button:hover {
	background: #fff;
	color: black;
}

#superAdminAccounts #modalAddUser .modal-body .dropdown button:focus {
	box-shadow: none;
}

#superAdminAccounts #modalAddUser .modal-body .dropdown button i {
	float: right;
}

#superAdminAccounts #modalAddUser .modal-footer {
	border: none;
	padding: 5% 0 15% 0;
}

#superAdminAccounts #modalAddUser .modal-footer button {
	cursor: pointer;
	padding: 12px 36px;
	border-radius: 25px;
	color: #fff;
}

#superAdminAccounts #modalAddUser .modal-footer .save-btn {
	background: #588b8b;
}

#superAdminAccounts #modalAddUser .modal-footer .cancel-btn {
	background: #57386e;
}

#superAdminAccounts #modalAddUser .modal-footer .save-btn:hover {
	background: #79a2a2;
}

#superAdminAccounts #modalAddUser .modal-footer .cancel-btn:hover {
	background: #785f8b;
}
