/*body{
  background-color: #EEF0F3 !important;
  position: relative;
}*/

/* style form App.css  */
#content-admin{
  position: absolute;
  width: 100%;
  min-height: 100%;
}

#admin-header{
  min-height: 60px;
}

#admin-header > nav > .col > .float-right > .show > .dropdown-menu{
  display: block;
}

#admin-header > nav > .col > .float-right > .dropdown > a.drop{
  background: transparent;
  border: none;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
}
#admin-header > nav > .col > .float-right > .dropdown > a.drop:active {
  background-color: rgba(158,158,158,.4);
}
#admin-header > nav > .col > .float-right > .dropdown > a.drop:hover{
  background: transparent;
  cursor: pointer;
  border: none;
}
#admin-header > nav > .col > .float-right > .dropdown > a.drop:focus:not(:active)
{
  background-color: rgba(0,0,0,.12);
}

#admin-header > nav{
  background: #fff !important;
  box-shadow:  0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.drop:hover ,.drop:active{
  background-color: transparent;
  border-color: transparent;
}
.user-logo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.show>.drop.dropdown-toggle{
  background-color: transparent;
  border-color: transparent
}
.drop{
  background: transparent;
  color:#000;
}
.drop:hover {
  color:#000;
      }
.dropdown-toggle:focus{
  box-shadow: none;
}


#admin-header .save-btn {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 25px;
  color: #fff;
  background: #588b8b;
}

#admin-header .save-btn:hover {
  background: #79a2a2;
}

#admin-header .dropdown-item.active, 
#admin-header .dropdown-item:active {
  background-color: #fff;
}

/* hide navbar at superadmin header - header component */

@media (min-width: 992px) {
  #navbarSupportedContent1 {
    display: none !important;
  }
} 

@media (max-width: 992px){
  #paymentCol {
    display: none;
  }
}





