#explore {
	background: #fff;
	padding: 10px;
}

#explore .add {
	border: 1px solid rgba(0,0,0,.15);
}

#explore .add input {
	border: none;
	background: #fff;
}

#explore .navigation-link {
    background: #588b8b;
    border-radius: 0;
    border: none;
    padding: 0 12px;
}

#explore .navigation-link i {
	padding: 5px 0;
}

#explore .add-f .navigation-link {
	background: #38386E;
}


#superUpload .title, #addTarget .title {
	border-bottom: 2px solid #588B8B;
	margin-bottom: 20px;
}

#superUpload .title p, #addTarget .title p {
	margin-bottom: 0;
}

#superUpload .width-600 {
	max-width: none;
}

#superUpload .width-600 form {
	margin: 0 auto;
	max-width: 600px;
}

#superUpload .box {
	padding: 20px 40px;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#superUpload .card {
	border-radius: 0;
	border-top: none;
}

#explore .foldersCol, #superUpload .imagesRow {
	display: flex;
	justify-content: space-around;
}

#explore .foldersCol p {
	margin-bottom: 0;
	padding: 10px;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 1px 1px lightgrey;
	text-align: left;
	cursor: pointer;
	font-size: 14px;
}

#explore .foldersCol p i {
	margin-right: 5px;
}

#explore .imagesRow .albumDiv {
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 1px 1px lightgrey;
}

#explore .imagesRow .albumDiv div {
	display: flex;
	padding: 5px;
	font-size: 14px;
}

#explore .imagesRow .albumDiv div p {
	padding-right: 5px;
}

#explore .imagesRow .albumDiv div span {
	padding: 5px 0;
}

#explore .imagesRow .albumDiv div span i{
	margin-left: 5px;
}

#addTarget {
	padding: 15px;
	background: #fff;
}

#addTarget .title {
	margin-left: 10px;
	margin-right: 10px;
}

#addTarget .switcher span{
	max-width: 60px;
}

#addTarget .inputs {
	padding-left: 15%;
	padding-right: 15%;
}

