/* style form upload-file.css  */

.inline > .input-group-addon{
  padding: 5px;
}
.pa-3{
  padding: 3px !important;
}
.purple{
  background-color: #57386E;
}

.pa-3 > i{
  color:#fff;
}
.search > i{
  color: #757575;
}
.purple:hover {
  background-color: #57386E;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.verde{
  background-color: #588B8B;
}
.verde:hover{
  background-color: #588B8B;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.mdl-card-folder {
  display: inline-block;
  max-width: 218px;
  margin: 10px !important;
}
.mdl-card {
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
  background: #fff;
}
.mdl-card-folder .mdl-card__title {
  padding: 5px 15px;
  width: 100%;
  text-align: left;
  overflow: hidden;

}
.inline {
  display: inline-block;
  vertical-align: middle;
}
.inline > h2{
  border:none;
}
#folder>.mdi-folder , #folder>.mdi-create_new_folder{
  color: #57386E;
}
#folder>.mdl-card-folder h2 {
  font-size: 13px;
  color: #57386E;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: none;
  display: inline-block;
  margin: 0;
}
.empty{
  padding: 150px 10px;
}
.empty p{
  text-decoration: underline;
}
#folder > .mdl-card> .inline >i{
  color: #57386E;
}
#folder > .mdl-card__title > h2{
  color:red
}
button.search{
  background: #fff;
  border:none;
}
button.search:hover {
  background: #fff;
}