/* style form main.css  */
.content{
  margin-left: 80px;
  padding: 20px;
}
.content > .section-contents{
  padding: 20px 10px;
}
.content-card{
  max-width: 1235px;
  margin: auto;
  #text-align: center;
}
.mdl-card-admin{
  display: inline-block;
  max-width: 100%;
  height: 200px;
  margin: 5px;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
  background: #fff;

}
.mdl-card__title{
  display: flex;
  padding: 15px;
  align-items: center;
  color: #000;
  overflow: hidden;
}

.mdl-card__title a{
  overflow: hidden;
  width: 100%;
}

.mdl-card__title h2{
  color: #57386e;
  border-color: #57386e;
  margin: auto;
  padding: 5px 10px;
  border-bottom: 1.5px solid;
  font-size: 14px;
  font-weight: bold;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-md-6:nth-child(2n) .mdl-card-admin .mdl-card__supporting-text p , .col-md-6:nth-child(2n) .mdl-card-admin .mdl-card__title h2{
  color: #57386E;
  border-color: #57386E;
}
.mdl-card__supporting-text{
  color: #57386e;
  border-color: #57386e;
  text-align: center;
  padding: 15px;
  padding-bottom:5px;
  padding-top:0px;
}
.mdl-card__supporting-text > p
{
  font-size: 14px;
}
.green > p {
  color: #57386e;
  border-color: #57386e;
}


.mdl-card__actions{
  padding-bottom: 10px;
}

.mdl-card__actions h6{
  padding: 0 !important;
}
 
.mdl-card__actions a.deleteLink{
  float: right;
  cursor: pointer !important;
}

.mdl-card__actions a.deleteLink i {
  font-size: 19px !important;
}

.mdl-card__actions a.deleteLink:hover i{
  color: #ccc !important;
}

.mdl-card__actions img:not(.std){
  height: 17px;
  float: right;
  margin-top: 4px;
  margin-right: 5px;
}

.mdl-card__actions > button{
  min-width: 160px;
}
.green-btn{
  #min-width: 80%;
  border-radius: 25px;
  color: #FFFFFF;
  height: 35px;
  font-size: 12px;
  background-color: #588B8B !important;
  border:none;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
}
.green-btn:hover , .purple-btn:hover{
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.purple-btn{
  #min-width: 80%;
  border-radius: 25px;
  color: #FFFFFF;
  height: 35px;
  font-size: 12px;
  background-color: #57386e !important;
  border:none;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
}
.purple-btn:focus{
  transition: box-shadow .5s ease;
}
.col-md-6:nth-child(4) .mdl-card-admin .mdl-card__supporting-text p:nth-child(2){
  font-weight: bold;
  border-bottom: 1px solid #57386e;
  max-width: 215px;
  margin: auto;
  font-size: 14px;
}
.col-md-4:nth-child(4) .mdl-card-admin .mdl-card__supporting-text p:nth-child(2) {
  font-weight: bold;
  border-bottom: 1px solid #57386E;
  max-width: 210px;
  margin: auto;
}

.mdl-card-admin .mdl-card__supporting-text p:nth-child(2){
  margin-bottom: 0;
}
.mdl-card {
  width: 100%;
}
@media screen and (max-width: 575px) {
  .content-card {
    max-width: 550px;
  }
  .mdl-card-admin{
    max-width: 100% !important;
  }
}
@media screen and (max-width: 1024px){
  .content{
    margin-left: 0;
  }
  .m-center{
    margin: 0 auto;
  }
}

.save-btn {
  background: #588b8b;
}

.save-btn.modal-btn, .cancel-btn.modal-btn {
  padding: 8px 24px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.save-btn.upload-btn {
  min-width: 160px;
  border-radius: 25px;
  font-size: 12px;
  color: #fff !important;
  margin-right: 5px;
  padding: 9px 16px;
  cursor: pointer;
}

.cancel-btn {
  background: #57386e;
}

.save-btn:hover {
  background: #79a2a2;
}

.cancel-btn:hover {
  background: #785f8b !important;
}

.arbi-card{
  width: 100%;
  padding: 15px;
  font-size: 14px;
  cursor: default;
  margin-bottom: 10px;
}