#settings {
	background: #fff;
	padding: 15px;
	text-transform: uppercase;
	color: #38386E;
	font-weight: 700;
}

#settings .title {
	border-bottom: 3px solid #79a2a2;
	padding: 10px 0;
	margin-bottom: 10px;
}

#settings .title p {
	margin-bottom: 0;
}

#settings form {
	margin-bottom: 0;
}

#settings form input {
	border-radius: 0;
}

#settings .save-btn {
	cursor: pointer;
	padding: 12px 36px;
	border-radius: 25px;
	color: #fff;
	background: #588b8b;
}

#settings .save-btn:hover {
	background: #79a2a2;
}

#confirmChanges {
	top: 10%;
}

#confirmChanges .modal-content {
	background: #CFCFFB;
	border-top: 4px solid #38386E;
	-webkit-box-shadow: 1px 1px 1px 1px #38386E;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    1px 1px 1px 1px #38386E;  /* Firefox 3.5 - 3.6 */
	box-shadow:         1px 1px 1px 1px #38386E;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	border-radius: 0;
	padding: 15px;
}

#confirmChanges .modal-body {
	font-size: 32px;
	padding: 30px;
}

#confirmChanges .modal-footer {
	justify-content: center;
	border: none;
	padding-bottom: 25px;
}

#confirmChanges .modal-footer button {
	cursor: pointer;
	padding: 12px 42px;
	border-radius: 25px;
	color: #fff;
}

#confirmChanges .modal-footer .save-btn {
	background: #588b8b;
}

#confirmChanges .modal-footer .cancel-btn {
	background: #57386e;
}

#confirmChanges .modal-footer .save-btn:hover {
	background: #79a2a2;
}

#confirmChanges .modal-footer .cancel-btn:hover {
	background: #785f8b;
}