/*Users Tab*/
#tabUsers table thead tr th:first-child, #tabUsers table tbody tr td:first-child{
	width: 35%;
	text-align: left;
}

/*Models Tab*/
#tabModels {
	background: #fff;
	text-align: center;
	padding: 15px 0;
}

#tabModels .row  {
	display: flex;
	justify-content: space-around;
}

#tabModels .foldersCol p {
	margin-bottom: 0;
	padding: 10px;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 1px 1px lightgrey;
	text-align: left;
	cursor: pointer;
	font-size: 14px;
}

#tabModels .foldersCol p i {
	margin-right: 5px;
}

#tabModels .imagesRow .albumDiv {
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 1px 1px lightgrey;
}

#tabModels .imagesRow .albumDiv div {
	display: flex;
	padding: 5px;
	font-size: 14px;
}

#tabModels .imagesRow .albumDiv div p {
	padding-right: 5px;
}

#tabModels .imagesRow .albumDiv div span {
	padding: 5px 0;
}

#tabModels .imagesRow .albumDiv div span i{
	margin-left: 5px;
}

/*Payment Tab*/
#tabPayment {
	background: #fff;
	padding: 5%;
}

#tabPayment .paymentDiv {
	margin-bottom: 40px;
}

#tabPayment .paymentDiv .h {
	font-weight: 700;
	border-bottom: 2px solid #E8E9ED;
	padding: 0 15px;
	color: #38386E;
}

#tabPayment .paymentDiv .p {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	border-top: 1px solid #E8E9ED;
	border-bottom: 1px solid #E8E9ED;
}

#tabPayment .paymentDiv .p p {
	margin-bottom: 0;
	padding: 8px 0;
}

#tabPayment .paymentDiv .p .h {
	border-bottom: none;
}